<ion-header>
  <ion-navbar color="turquoise">
    <ion-title>Créer un Club</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closemodal()">
        close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #dff8e7">
<!-- <form class="form" [formGroup]="validations_form"> -->
<ion-item style="background-color: #dff8e7">
<ion-label floating  >Club name</ion-label>
<ion-input type="text"  [(ngModel)]="club.clubname"  ></ion-input>
 </ion-item>
 <!-- <div>
    <ng-container *ngFor="let validation of validation_messages.clubname">
      <div class="error-message" *ngIf="validations_form.get('club.clubname?').hasError(validation.type) && (validations_form.get('club.clubname?').dirty || validations_form.get('club.clubname?').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div> -->

<ion-item  style="background-color: #dff8e7"> 
  <ion-label floating>Username</ion-label>
  <ion-input type="text"  [(ngModel)]="club.clubusername"></ion-input>
</ion-item> 

    <div class="container"  style="background-color: #dff8e7">
      <div class="input-field col s12">
       
          <ion-label text-color="color">University</ion-label>
            <input  style="width:350px;height:auto;overflow:auto;background-color: #dff8e7;"  id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
       
     
      </div>

      <div class="suggestions" *ngIf="filteredList.length > 0">
          <ul *ngFor=" let item of filteredList " >
              <li >
                  <a (click)="select(item)">{{item}}</a>
              </li>
          </ul>
      </div>
    </div> 
    <ion-item style="background-color: #dff8e7">
    <ion-label floating  style="background-color: #dff8e7">Email</ion-label>
      <ion-input type="url" [(ngModel)]="club.cluburl"></ion-input>
    </ion-item>
    <ion-item style="background-color: #dff8e7">
      <ion-label floating  style="background-color: #dff8e7">Password</ion-label>
      <ion-input type="password" [(ngModel)]="club.clubpassword"></ion-input>
    </ion-item>

   <button ion-button block color="mauve"  full (click)="selectPhoto()" >
      <ion-icon ios="ios-images" md="md-images"  ></ion-icon>
      Add LOGO
   </button>  
    <img [src]="clubphoto">   
    <button ion-button block color="turquoise" (click)='register(club)' >inscription</button>
  <!-- </form> -->
</ion-content>